@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f3c614;
  color-scheme: dark light;
  --font-family-sans: "Nunito", sans-serif;
  --font-family-serif: "Merriweather", serif;
  --font-family-mono: "Inconsolata", monospace;
}

body {
  background-color: azure;
}
